<div class="admin-layout-container">
  <header class="bg-primary text-white p-3 shadow-sm d-flex justify-content-between align-items-center">
    
    <div class="d-flex align-items-center gap-3">
      <img src="assets/ste.png" alt="Logo STE" class="ste-logo">
      <h4 class="m-0 fw-bold">Control de Reparaciones</h4>
    </div>

    <button mat-button class="text-white" (click)="cerrarSesion()">
      <i class="fa fa-sign-out-alt me-2"></i> Cerrar Sesión
    </button>
  </header>

  <div class="d-flex">
    <aside style="width: 250px; min-height: 100vh; background: #35424e; color: white;" class="p-3">
      <p class="fw-bold text-uppercase mb-3" style="letter-spacing: 1px;">Menú</p>
      
      <ul class="nav flex-column gap-2">
        <li class="nav-item">
          <a class="nav-link text-white" href="/dashboard">Inicio</a>
        </li>

        <!-- Administración  -->
        <li class="nav-item">
          <a class="nav-link text-white d-flex justify-content-between align-items-center" 
            style="cursor: pointer;" 
            (click)="menuAdminAbierto = !menuAdminAbierto">
            <span>Administración</span>
            <i class="fa" [ngClass]="menuAdminAbierto ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
          </a>
          
          <ul class="nav flex-column ms-3 mt-1" *ngIf="menuAdminAbierto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/usuarios">Usuarios</a>
            </li>
          </ul>

          <ul class="nav flex-column ms-3 mt-1" *ngIf="menuAdminAbierto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/reparaciones">Reparaciones</a>
            </li>
          </ul>

          <ul class="nav flex-column ms-3 mt-1" *ngIf="menuAdminAbierto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/usuarios">Catálogos</a>
            </li>
          </ul>
        </li>

        <!-- Solicitudes  -->
        <li class="nav-item">
          <a class="nav-link text-white d-flex justify-content-between align-items-center"
            style="cursor: pointer;" 
            (click)="menuSolicitudesAbierto = !menuSolicitudesAbierto">
            <span>Solicitudes</span>
            <i class="fa menu-arrow" [ngClass]="menuSolicitudesAbierto ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
          </a>
          
          <ul class="nav flex-column ms-3 mt-1" *ngIf="menuSolicitudesAbierto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/reparaciones">Reparaciones</a>
            </li>
          </ul>
        </li>

      </ul>
    </aside>

    <main class="flex-grow-1 bg-light p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>