/* Estilos para controlar el tamaño del logo */
.ste-logo {
  width: auto;   /* Ajustar este valor según qué tan grande se quiere que se vea */
  height: 45px; /* Ajusta la altura según las necesidades */
  object-fit: contain;
}