/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Sobrescribe el diseño base de los modales de Bootstrap para hacerlos cuadrados */
.modal-content {
  border-radius: 0 !important;
}

/* Para asegurar que ni los encabezados ni los pies del modal mantengan curvas */
.modal-header, 
.modal-footer {
  border-radius: 0 !important;
}

/* ==========================================================================
   Sobrescritura de modales para Angular Material (MatDialog)
   ========================================================================== */

/* 1. Quitamos los bordes redondeados del contenedor principal del dialog */
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0 !important;
}

/* 2. (Opcional pero recomendado) Quitamos el padding interno automático 
   para que tu diseño Bootstrap ocupe el 100% del espacio del modal y no 
   se vean márgenes blancos indeseados */
.mat-mdc-dialog-container .mdc-dialog__surface {
  padding: 0 !important;
}

/* 3. Aseguramos que el contenido interno se adapte correctamente */
.mat-mdc-dialog-content {
  padding: 0 !important;
  margin: 0 !important;
  max-height: none !important;
} 